p 
{font-size:14;
font-family:Monotype Corsiva;
}

h1
{
text-align:center;
font-weight:bolder;
color:red;
font-size:20;	
}

[src]
{
height:400px;
width:200px;
border: 10px solid blue;
}